// *now loading fonts for KO in App.vue
// BOOTSTRAP FUNCTIONS, VARIABLES & MIXINS IMPORTS

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// VARIABLE OVERRIDES

@import "src/assets/scss/bootstrap-custom/variables";

// *
// * FONT-FACE AND FONT-FAMILY
// *

// Define font-family name

$font-family-ko: "Nanum Gothic";

// Set @font-face
// Provided by https://google-webfonts-helper.herokuapp.com/

$font-version-date: "191211";
$font-path: "https://static.moele.me/fonts/nanum-gothic/#{$font-version-date}";
$font-filename: "nanum-gothic-v17-korean_latin";

/* nanum-gothic-regular - korean_latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('#{$font-path}/#{$font-filename}-regular.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic'),
       url('#{$font-path}/#{$font-filename}-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}/#{$font-filename}-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}/#{$font-filename}-regular.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}/#{$font-filename}-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}/#{$font-filename}-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}
/* nanum-gothic-700 - korean_latin */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('#{$font-path}/#{$font-filename}-700.eot'); /* IE9 Compat Modes */
  src: local('NanumGothic Bold'), local('NanumGothic-Bold'),
       url('#{$font-path}/#{$font-filename}-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$font-path}/#{$font-filename}-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$font-path}/#{$font-filename}-700.woff') format('woff'), /* Modern Browsers */
       url('#{$font-path}/#{$font-filename}-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$font-path}/#{$font-filename}-700.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

$font-family-sans-serif: $font-family-ko, $font-family-fallback;
$font-family-base: $font-family-sans-serif;

[lang="ko"] {
  &,
  body {
    font-family: $font-family-base;
  }
}
