$icomoon-font-family: "me-bmt" !default;
$icomoon-font-path: "fonts" !default;

$icon-motionelements: "\e800";
$icon-videoceo: "\e801";
$icon-video: "\e802";
$icon-animation: "\e803";
$icon-after-effects: "\e804";
$icon-after-effects-square: "\e805";
$icon-premiere-pro: "\e806";
$icon-mogrt: "\e807";
$icon-adobe-premiere-pro: "\e808";
$icon-adobe-premiere-rush: "\e809";
$icon-apple-motion: "\e80a";
$icon-fcp: "\e80b";
$icon-fcp-edit: "\e80c";
$icon-image: "\e80d";
$icon-images: "\e80e";
$icon-vector: "\e80f";
$icon-vr: "\e810";
$icon-3d-model: "\e811";
$icon-cinema-4d: "\e812";
$icon-music: "\e813";
$icon-sfx: "\e814";
$icon-adobe-audition: "\e815";
$icon-lottie: "\e816";
$icon-collection: "\e817";
$icon-davinci-resolve: "\e818";
$icon-davinci-resolve-outline: "\e819";
$icon-lightning: "\e820";
$icon-search-solid: "\e821";
$icon-search-regular: "\e822";
$icon-search-light: "\e823";
$icon-play: "\e824";
$icon-pause: "\e825";
$icon-search-ai-solid: "\e826";
$icon-search-ai-regular: "\e827";
$icon-search-ai-light: "\e828";
$icon-heart-solid: "\e829";
$icon-heart-regular: "\e82a";
$icon-heart-light: "\e82b";
$icon-download: "\e82c";
$icon-clock: "\e82d";
$icon-chevron-right: "\e82e";
$icon-globe-asia: "\e82f";
$icon-shopping-cart: "\e830";
$icon-credits-circle-solid: "\e831";
$icon-credits-circle-regular: "\e832";
$icon-credits-circle-light: "\e833";

