$icomoon-font-family: "me-cat" !default;
$icomoon-font-path: "fonts" !default;

$icon-cat-action: "\ea01";
$icon-cat-ambient: "\ea02";
$icon-cat-anime: "\ea03";
$icon-cat-b-roll: "\ea04";
$icon-cat-background: "\ea05";
$icon-cat-ballroom: "\ea06";
$icon-cat-battle: "\ea07";
$icon-cat-blues: "\ea08";
$icon-cat-broadcast: "\ea09";
$icon-cat-calm: "\ea0a";
$icon-cat-christian: "\ea0b";
$icon-cat-cinematic: "\ea0c";
$icon-cat-classical: "\ea0d";
$icon-cat-corporate: "\ea0e";
$icon-cat-country: "\ea0f";
$icon-cat-design-elements: "\ea10";
$icon-cat-easy-listening: "\ea11";
$icon-cat-electronic: "\ea12";
$icon-cat-element3d: "\ea13";
$icon-cat-epic: "\ea14";
$icon-cat-event: "\ea15";
$icon-cat-experimental-and-abstract: "\ea16";
$icon-cat-folk: "\ea17";
$icon-cat-funny: "\ea18";
$icon-cat-futuristic: "\ea19";
$icon-cat-game: "\ea1a";
$icon-cat-green-screen: "\ea1b";
$icon-cat-hand-drawn: "\ea1c";
$icon-cat-happy: "\ea1d";
$icon-cat-hip-hop: "\ea1e";
$icon-cat-holiday: "\ea1f";
$icon-cat-horror: "\ea20";
$icon-cat-icon: "\ea21";
$icon-cat-infographics: "\ea22";
$icon-cat-infographics-chart: "\ea23";
$icon-cat-inspirational: "\ea24";
$icon-cat-japanese: "\ea25";
$icon-cat-jazz: "\ea26";
$icon-cat-kids: "\ea27";
$icon-cat-latin: "\ea28";
$icon-cat-logo: "\ea29";
$icon-cat-lower-third: "\ea2a";
$icon-cat-mysterious: "\ea2b";
$icon-cat-nature: "\ea2c";
$icon-cat-news: "\ea2d";
$icon-cat-oriental: "\ea2e";
$icon-cat-particles: "\ea2f";
$icon-cat-people: "\ea30";
$icon-cat-pop: "\ea31";
$icon-cat-reggae-and-ska: "\ea32";
$icon-cat-rhythm-and-blues: "\ea33";
$icon-cat-rock: "\ea34";
$icon-cat-romantic: "\ea35";
$icon-cat-sad: "\ea36";
$icon-cat-sexy: "\ea37";
$icon-cat-slideshow: "\ea38";
$icon-cat-social-media: "\ea39";
$icon-cat-stylish: "\ea3a";
$icon-cat-text: "\ea3b";
$icon-cat-title: "\ea3c";
$icon-cat-transition: "\ea3d";
$icon-cat-trending: "\ea3e";
$icon-cat-vertical: "\ea3f";
$icon-cat-vfx: "\ea40";
$icon-cat-vj-loop: "\ea41";
$icon-cat-wedding: "\ea42";
$icon-cat-workout: "\ea43";
$icon-cat-world: "\ea44";
