/* Loading Spinner */
.ui-loading {
  border: 0.25rem solid $light; /* Light grey */
  border-top: 0.25rem solid $primary; /* Blue */
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
