.vc-compact-color-item {
  width: map-get($spacers,4);
  height: map-get($spacers,4);

  margin-right: map-get($spacers,2);
  margin-bottom: map-get($spacers,2);

  border-radius: $border-radius;

  // &[aria-selected="true"] {
  //   @include box-shadow($box-shadow);
  // }

  .vc-compact-dot {
    top: map-get($spacers,2);
    bottom: map-get($spacers,2);
    left: map-get($spacers,2);
    right: map-get($spacers,2);
  }
}