$icomoon-font-family: "me-resolve" !default;
$icomoon-font-path: "fonts" !default;

$icon-davinci-resolve: "\e818";
$icon-davinci-resolve-outline: "\e819";
$icon-dr-15: "\e97c";
$icon-dr-16: "\e97d";
$icon-dr-17: "\e97e";
$icon-dr-18: "\e97f";
$icon-frame-rate-alt: "\e980";
$icon-frame-rate: "\e981";
$icon-software-ver: "\e982";

