@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rln9qn');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?rln9qn#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff2?rln9qn') format('woff2'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?rln9qn') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?rln9qn') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?rln9qn##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat-action {
  &:before {
    content: $icon-cat-action; 
  }
}
.icon-cat-ambient {
  &:before {
    content: $icon-cat-ambient; 
  }
}
.icon-cat-anime {
  &:before {
    content: $icon-cat-anime; 
  }
}
.icon-cat-ballroom {
  &:before {
    content: $icon-cat-ballroom; 
  }
}
.icon-cat-battle {
  &:before {
    content: $icon-cat-battle; 
  }
}
.icon-cat-blues {
  &:before {
    content: $icon-cat-blues; 
  }
}
.icon-cat-calm {
  &:before {
    content: $icon-cat-calm; 
  }
}
.icon-cat-christian {
  &:before {
    content: $icon-cat-christian; 
  }
}
.icon-cat-cinematic {
  &:before {
    content: $icon-cat-cinematic; 
  }
}
.icon-cat-classical {
  &:before {
    content: $icon-cat-classical; 
  }
}
.icon-cat-corporate {
  &:before {
    content: $icon-cat-corporate; 
  }
}
.icon-cat-country {
  &:before {
    content: $icon-cat-country; 
  }
}
.icon-cat-easy-listening {
  &:before {
    content: $icon-cat-easy-listening; 
  }
}
.icon-cat-electronic {
  &:before {
    content: $icon-cat-electronic; 
  }
}
.icon-cat-epic {
  &:before {
    content: $icon-cat-epic; 
  }
}
.icon-cat-experimental-and-abstract {
  &:before {
    content: $icon-cat-experimental-and-abstract; 
  }
}
.icon-cat-folk {
  &:before {
    content: $icon-cat-folk; 
  }
}
.icon-cat-funny {
  &:before {
    content: $icon-cat-funny; 
  }
}
.icon-cat-futuristic {
  &:before {
    content: $icon-cat-futuristic; 
  }
}
.icon-cat-game {
  &:before {
    content: $icon-cat-game; 
  }
}
.icon-cat-happy {
  &:before {
    content: $icon-cat-happy; 
  }
}
.icon-cat-hip-hop {
  &:before {
    content: $icon-cat-hip-hop; 
  }
}
.icon-cat-holiday {
  &:before {
    content: $icon-cat-holiday; 
  }
}
.icon-cat-horror {
  &:before {
    content: $icon-cat-horror; 
  }
}
.icon-cat-inspirational {
  &:before {
    content: $icon-cat-inspirational; 
  }
}
.icon-cat-japanese {
  &:before {
    content: $icon-cat-japanese; 
  }
}
.icon-cat-jazz {
  &:before {
    content: $icon-cat-jazz; 
  }
}
.icon-cat-kids {
  &:before {
    content: $icon-cat-kids; 
  }
}
.icon-cat-latin {
  &:before {
    content: $icon-cat-latin; 
  }
}
.icon-cat-mysterious {
  &:before {
    content: $icon-cat-mysterious; 
  }
}
.icon-cat-news {
  &:before {
    content: $icon-cat-news; 
  }
}
.icon-cat-oriental {
  &:before {
    content: $icon-cat-oriental; 
  }
}
.icon-cat-pop {
  &:before {
    content: $icon-cat-pop; 
  }
}
.icon-cat-reggae-and-ska {
  &:before {
    content: $icon-cat-reggae-and-ska; 
  }
}
.icon-cat-rhythm-and-blues {
  &:before {
    content: $icon-cat-rhythm-and-blues; 
  }
}
.icon-cat-rock {
  &:before {
    content: $icon-cat-rock; 
  }
}
.icon-cat-romantic {
  &:before {
    content: $icon-cat-romantic; 
  }
}
.icon-cat-sad {
  &:before {
    content: $icon-cat-sad; 
  }
}
.icon-cat-sexy {
  &:before {
    content: $icon-cat-sexy; 
  }
}
.icon-cat-stylish {
  &:before {
    content: $icon-cat-stylish; 
  }
}
.icon-cat-workout {
  &:before {
    content: $icon-cat-workout; 
  }
}
.icon-cat-world {
  &:before {
    content: $icon-cat-world; 
  }
}
.icon-cat-event {
  &:before {
    content: $icon-cat-event; 
  }
}
.icon-cat-green-screen {
  &:before {
    content: $icon-cat-green-screen; 
  }
}
.icon-cat-background {
  &:before {
    content: $icon-cat-background; 
  }
}
.icon-cat-b-roll {
  &:before {
    content: $icon-cat-b-roll; 
  }
}
.icon-cat-nature {
  &:before {
    content: $icon-cat-nature; 
  }
}
.icon-cat-people {
  &:before {
    content: $icon-cat-people; 
  }
}
.icon-cat-trending {
  &:before {
    content: $icon-cat-trending; 
  }
}
.icon-cat-broadcast {
  &:before {
    content: $icon-cat-broadcast; 
  }
}
.icon-cat-design-elements {
  &:before {
    content: $icon-cat-design-elements; 
  }
}
.icon-cat-hand-drawn {
  &:before {
    content: $icon-cat-hand-drawn; 
  }
}
.icon-cat-icon {
  &:before {
    content: $icon-cat-icon; 
  }
}
.icon-cat-infographics {
  &:before {
    content: $icon-cat-infographics; 
  }
}
.icon-cat-logo {
  &:before {
    content: $icon-cat-logo; 
  }
}
.icon-cat-lower-third {
  &:before {
    content: $icon-cat-lower-third; 
  }
}
.icon-cat-particles {
  &:before {
    content: $icon-cat-particles; 
  }
}
.icon-cat-slideshow {
  &:before {
    content: $icon-cat-slideshow; 
  }
}
.icon-cat-social-media {
  &:before {
    content: $icon-cat-social-media; 
  }
}
.icon-cat-text {
  &:before {
    content: $icon-cat-text; 
  }
}
.icon-cat-title {
  &:before {
    content: $icon-cat-title; 
  }
}
.icon-cat-transition {
  &:before {
    content: $icon-cat-transition; 
  }
}
.icon-cat-vertical {
  &:before {
    content: $icon-cat-vertical; 
  }
}
.icon-cat-wedding {
  &:before {
    content: $icon-cat-wedding; 
  }
}
.icon-cat-vj-loop {
  &:before {
    content: $icon-cat-vj-loop; 
  }
}
.icon-cat-vfx {
  &:before {
    content: $icon-cat-vfx; 
  }
}
.icon-cat-infographics-chart {
  &:before {
    content: $icon-cat-infographics-chart; 
  }
}

