$icomoon-font-family: "me-cat" !default;
$icomoon-font-path: "fonts" !default;

$icon-cat-action: "\e900";
$icon-cat-ambient: "\e901";
$icon-cat-anime: "\e902";
$icon-cat-ballroom: "\e903";
$icon-cat-battle: "\e904";
$icon-cat-blues: "\e905";
$icon-cat-calm: "\e906";
$icon-cat-christian: "\e907";
$icon-cat-cinematic: "\e908";
$icon-cat-classical: "\e909";
$icon-cat-corporate: "\e90a";
$icon-cat-country: "\e90b";
$icon-cat-easy-listening: "\e90c";
$icon-cat-electronic: "\e90d";
$icon-cat-epic: "\e90e";
$icon-cat-experimental-and-abstract: "\e90f";
$icon-cat-folk: "\e910";
$icon-cat-funny: "\e911";
$icon-cat-futuristic: "\e912";
$icon-cat-game: "\e913";
$icon-cat-happy: "\e914";
$icon-cat-hip-hop: "\e915";
$icon-cat-holiday: "\e916";
$icon-cat-horror: "\e917";
$icon-cat-inspirational: "\e918";
$icon-cat-japanese: "\e919";
$icon-cat-jazz: "\e91a";
$icon-cat-kids: "\e91b";
$icon-cat-latin: "\e91c";
$icon-cat-mysterious: "\e91d";
$icon-cat-news: "\e91e";
$icon-cat-oriental: "\e91f";
$icon-cat-pop: "\e920";
$icon-cat-reggae-and-ska: "\e921";
$icon-cat-rhythm-and-blues: "\e922";
$icon-cat-rock: "\e923";
$icon-cat-romantic: "\e924";
$icon-cat-sad: "\e925";
$icon-cat-sexy: "\e926";
$icon-cat-stylish: "\e927";
$icon-cat-workout: "\e928";
$icon-cat-world: "\e929";
$icon-cat-event: "\e92a";
$icon-cat-green-screen: "\e92b";
$icon-cat-background: "\e92c";
$icon-cat-b-roll: "\e92d";
$icon-cat-nature: "\e92e";
$icon-cat-people: "\e92f";
$icon-cat-trending: "\e930";
$icon-cat-broadcast: "\e931";
$icon-cat-design-elements: "\e932";
$icon-cat-hand-drawn: "\e933";
$icon-cat-icon: "\e934";
$icon-cat-infographics: "\e935";
$icon-cat-logo: "\e936";
$icon-cat-lower-third: "\e937";
$icon-cat-particles: "\e938";
$icon-cat-slideshow: "\e939";
$icon-cat-social-media: "\e93a";
$icon-cat-text: "\e93b";
$icon-cat-title: "\e93c";
$icon-cat-transition: "\e93d";
$icon-cat-vertical: "\e93e";
$icon-cat-wedding: "\e93f";
$icon-cat-vj-loop: "\e940";
$icon-cat-vfx: "\e941";
$icon-cat-infographics-chart: "\e942";

