$icomoon-font-family: "me-regular" !default;
$icomoon-font-path: "fonts" !default;

$icon-ae-univers: "\e900";
$icon-ban: "\e901";
$icon-broadcast: "\e902";
$icon-cc: "\e903";
$icon-cc14: "\e904";
$icon-cc15: "\e905";
$icon-cc17: "\e906";
$icon-cc18: "\e907";
$icon-cc19: "\e908";
$icon-cc20: "\e909";
$icon-circle: "\e90a";
$icon-credits-circle: "\e90b";
$icon-cs3: "\e90c";
$icon-cs4: "\e90d";
$icon-cs5_5: "\e90e";
$icon-cs5: "\e90f";
$icon-cs6: "\e910";
$icon-design-element: "\e911";
$icon-diamond: "\e912";
$icon-download: "\e913";
$icon-easy: "\e914";
$icon-file-3d: "\e915";
$icon-file-audio: "\e916";
$icon-file-footage: "\e917";
$icon-file-lottie: "\e918";
$icon-file: "\e919";
$icon-font-change: "\e91a";
$icon-globe-america: "\e91b";
$icon-globe-asia: "\e91c";
$icon-globe-europe: "\e91d";
$icon-hand-drawn: "\e91e";
$icon-heart: "\e91f";
$icon-icon: "\e920";
$icon-infographics: "\e921";
$icon-layers: "\e922";
$icon-legal: "\e923";
$icon-licensing: "\e924";
$icon-lightning: "\e925";
$icon-logo: "\e926";
$icon-loop: "\e927";
$icon-lower-third: "\e928";
$icon-money-back: "\e929";
$icon-mtn3: "\e92a";
$icon-mtn4: "\e92b";
$icon-mtn5: "\e92c";
$icon-mtn6: "\e92d";
$icon-no-license-fee: "\e92e";
$icon-non-pro-rectangle: "\e92f";
$icon-non-pro: "\e930";
$icon-open: "\e931";
$icon-particles: "\e932";
$icon-pause-circle: "\e933";
$icon-play-circle: "\e934";
$icon-plugin: "\e935";
$icon-pro-rectangle: "\e936";
$icon-pro: "\e937";
$icon-quality: "\e938";
$icon-receipt: "\e939";
$icon-revert: "\e93a";
$icon-rocket: "\e93b";
$icon-royalty-free: "\e93c";
$icon-save-money: "\e93d";
$icon-search-ai: "\e93e";
$icon-search: "\e93f";
$icon-set-price: "\e940";
$icon-shopping-cart: "\e941";
$icon-slideshow: "\e942";
$icon-social-media: "\e943";
$icon-storyboard: "\e944";
$icon-television: "\e945";
$icon-text: "\e946";
$icon-times: "\e947";
$icon-title: "\e948";
$icon-track-stat: "\e949";
$icon-transition: "\e94a";
$icon-tutorial: "\e94b";
$icon-unlimited: "\e94c";
$icon-upload: "\e94d";
$icon-user-artist: "\e94e";
$icon-user-buyer: "\e94f";
$icon-user-support: "\e950";
$icon-ver: "\e951";
$icon-vertical: "\e952";
$icon-vr-mono: "\e953";
$icon-vr-photo: "\e954";
$icon-vr-stereo: "\e955";
$icon-vr-video: "\e956";
$icon-wedding: "\e957";
$icon-youtube: "\e958";
$icon-file-3ds: "\e959";
$icon-file-aep: "\e95a";
$icon-file-aiff: "\e95b";
$icon-file-bmp: "\e95c";
$icon-file-c4d: "\e95d";
$icon-file-fbx: "\e95e";
$icon-file-ffx: "\e95f";
$icon-file-gif: "\e960";
$icon-file-iges: "\e961";
$icon-file-jpeg: "\e962";
$icon-file-json: "\e963";
$icon-file-lw: "\e964";
$icon-file-ma: "\e965";
$icon-file-max: "\e966";
$icon-file-mogrt: "\e967";
$icon-file-motn: "\e968";
$icon-file-mov: "\e969";
$icon-file-mp3: "\e96a";
$icon-file-mp4: "\e96b";
$icon-file-obj: "\e96c";
$icon-file-ogg: "\e96d";
$icon-file-ogv: "\e96e";
$icon-file-png: "\e96f";
$icon-file-prproj: "\e970";
$icon-file-wav: "\e971";
$icon-file-webm: "\e972";
$icon-file-wmv: "\e973";
$icon-file-zip: "\e974";
$icon-metronome: "\e975";
$icon-framing: "\e976";
$icon-resolution: "\e977";
$icon-aspect-ratio: "\e978";
$icon-folder-move: "\e979";

